@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cormorant_Italic";
  src: url("fonts/cormorant-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("fonts/cormorant-italic-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant";
  src: url("fonts/cormorant-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("fonts/cormorant-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abril-fatface';
  src: url('fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
       url('fonts/abrilfatface-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c4c3c3;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
