@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4c3c3; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373; 
}